[dns]
# router
server=/falogin.cn/system
server=/tplogin.cn/system
server=/miwifi.com/system
server=/melogin.cn/system
server=/myrouter.local/system

# alibaba
server=/*.tb.cn/223.5.5.5
server=/*.1688.com/223.5.5.5
server=/*.tmall.com/223.5.5.5
server=/*.taobao.com/223.5.5.5
server=/*.alibaba.cn/223.5.5.5
server=/*.alibaba.com/223.5.5.5
server=/*.alibaba.com.cn/223.5.5.5

# alibaba - alipay
server=/*.alipay.com/223.5.5.5
server=/*.alipay.com.cn/223.5.5.5
server=/*.alipaydns.com/223.5.5.5

# alibaba - alicdn
server=/*.alicdn.com/223.5.5.5
server=/*.aliapp.com/223.5.5.5

# alibaba - yun
server=/*.aliyun.com/223.5.5.5
server=/*.aliyuncs.com/223.5.5.5
server=/*.aliyuncdn.com/223.5.5.5
server=/*.aliyundrive.com/223.5.5.5

# tencent
server=/*.url.cn/119.29.29.29
server=/*.qq.com/119.29.29.29
server=/*.qq.com.cn/119.29.29.29
server=/*.weixin.com/119.29.29.29
server=/*.wechat.com/119.29.29.29
server=/*.weiyun.com/119.29.29.29

# tencent - gtimg
server=/*.qpic.cn/119.29.29.29
server=/*.qlogo.cn/119.29.29.29
server=/*.gtimg.cn/119.29.29.29
server=/*.gtimg.com/119.29.29.29
server=/*.idqqimg.com/119.29.29.29
server=/*.tencent.com/119.29.29.29
server=/*.tencentcs.com/119.29.29.29
server=/*.weixinbridge.com/119.29.29.29
server=/*.servicewechat.com/119.29.29.29

# tencent - cloud
server=/*.qcloud.com/119.29.29.29
server=/*.qcloudcdn.cn/119.29.29.29
server=/*.qcloudcdn.com/119.29.29.29
server=/*.gcloudcs.com/119.29.29.29
server=/*.myqcloud.com/119.29.29.29

# tencent - cdn
server=/*.cdn-go.cn/119.29.29.29
server=/*.smtcdns.net/119.29.29.29
server=/*.smtcdns.com/119.29.29.29

# baidu
server=/*.dwz.cn/180.76.76.76
server=/*.baidu.com/180.76.76.76
server=/*.bdimg.com/180.76.76.76
server=/*.bdstatic.com/180.76.76.76

# jd
server=/*.3.cn/119.29.29.29
server=/*.jd.com/119.29.29.29
server=/*.jdcloud.com/119.29.29.29
server=/*.360buyimg.com/119.29.29.29

#  bilibili
server=/*.acg.tv/119.29.29.29
server=/*.hdslb.com/119.29.29.29
server=/*.hdslb.net/119.29.29.29
server=/*.bilibili.com/119.29.29.29
server=/*.bilivideo.cn/119.29.29.29
server=/*.bilivideo.com/119.29.29.29

# netease
server=/*.126.net/119.29.29.29
server=/*.127.net/119.29.29.29
server=/*.126.com/119.29.29.29
server=/*.163.com/119.29.29.29
server=/*.netease.com/119.29.29.29

#  other
server=/*.gov.cn/1.2.4.8
server=/*.mi.com/119.29.29.29
server=/*.xiaomi.com/119.29.29.29
server=/*.pddpic.com/119.29.29.29
server=/*.pinduoduo.com/119.29.29.29
server=/*.pinduoduo.net/119.29.29.29
server=/*.yangkeduo.com/119.29.29.29

#  apple
doh-server=/*.apple.com/https://dns.alidns.com/dns-query
doh-server=/*.icloud.com/https://dns.alidns.com/dns-query
doh-server=/*.icloud.com.cn/https://dns.alidns.com/dns-query
doh-server=/*.mzstatic.com/https://dns.alidns.com/dns-query
doh-server=/networking.apple/https://dns.alidns.com/dns-query
